doctype html
html
    head
        meta(charset="utf-8")
        title Secondhand
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet")
        link(rel='stylesheet' href='assets/css/style.css')
    body
        include ./modules/header
        main
            include ./modules/intro
            include ./modules/we-help
            include ./modules/impression
            include ./modules/benefits
            include ./modules/start
            include ./modules/about-us
            include ./modules/feedback
        include ./modules/footer
        script(src="assets/js/jquery.js")
        script(src="assets/js/popper.js")
        script(src="assets/js/bootstrap.js")
