@import "lib/normalize";
@import "common/media";
@import "lib/bootstrap";

@mixin font-roboto {
  font-family: 'Roboto', 'Arial', sans-serif;
}

@mixin font-open-condr {
  font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

@mixin font-yanone  {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

@mixin btn-common {
  color: #222;
  text-decoration: none;
  font-size: 14px;
  @include font-roboto;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: #D2AB74;
  }
}

.fill-height {
  height: 100%;
}

@mixin yellow-btn() {
  box-shadow: 7px 6px 21px 0 rgba(0,0,0,.5);
  flex-basis: auto;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #0c0c0c;
  border: none;
  outline:none;
  border-radius: 6px;
  padding: 25px 50px;
  background-color: #f4da58;
  line-height: 1;
  text-align: center;
  transition: all .5s;

  &:hover {
    color: #0c0c0c;
    background-color: #f7f459;
    transform: scale(1.1);
  }
}

body {
  @include font-roboto
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 80px 0;

  .section__title {
    @include font-yanone();
    font-size: 43px;
    margin-bottom: 5px;
    text-align: center;
  }
  .section__info-text {
    font-size: 15px;
    margin-bottom: 45px;
    text-align: center;
    @include font-roboto();
  }
}


@import "common/header";
@import "common/intro";
@import "common/we-help";
@import "common/impression";
@import "common/benefits";
@import "common/start";
@import "common/aboutus";
@import "common/feedback";
@import "common/footer";
