.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-images--economic {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-images--heart {
  font-size:(510/10)*1rem;
  width:(510/510)*1em;
}
.icon-images--innovation {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-images--rating {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-images--stopwatch {
  font-size:(60/10)*1rem;
  width:(60/60)*1em;
}
