.about-us {
  text-align: center;
  padding: 80px 0;
  background: linear-gradient(#f2f2f8, #f2f2f8), url(../img/study-repeat-bg.png);
  background-repeat: repeat;
  .about-us__title {
    @include font-yanone();
    color: #2a344f;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
  }

  .about-us__text {
    color: rgba(42, 52, 79, 0.52);
  }

  .about-us__icon {
    color: #000;
  }
}
