.benefits {
  background: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01)), url(../img/study-repeat-bg.png);
  background-repeat: repeat;

  .benefits__card {
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.25);
      transition: all 0.3s ease-in-out;
    }
  }

  .benefits__content {
    padding: 30px;
  }

  .benefits__img-block {
    text-align: center;
    height: 100%;
    background: url("../img/enterprises.jpg") center no-repeat;
    background-size: cover;
  }

  .benefits__img-block--network {
    background-image: url("../img/network.jpg");
    background-size: 100% 100%;
  }

  .benefits__img-block--pharmacies {
    background-image: url("../img/pharmacies.jpg");
    background-size: cover;
  }
}
