.feedback {
  background: #6889a4 url(../img/feedback.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .feedback__bg-color {
    background-color: red;
    background-color: rgba(#00211e, 0.49);
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.feedback__wrapper {
  display: flex;
  color: #fff;
  justify-content: space-between;

  @include media(660px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts {
  border-radius: 20px;
  margin-right: 20px;
  padding: 20px;
  max-width: 420px;
  background-color: rgba(#000,0.45);
  box-shadow: 0 0 10px rgba(#fff, 0.33);

  @include media(660px) {
    max-width: 100%;
    margin-bottom: 60px;
    margin-right: 0;
  }
}

.contacts__phone,
.contacts__email {
  display: block;
  font-size: 14px;
  line-height: 36px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;

  &:hover {
    font-weight: 700;
    color: #f7f459;
  }
}

.contacts__fa-phone {
  transform: rotate(91deg);
}

.contacts__fa-phone,
.contacts__fa-email {
  margin-right: 10px;
  &:hover {
    color: #f7f459;
  }
}

.contacts__email {
  margin-bottom: 29px;
  &:hover {
    color: #f7f459;
  }
}

.contacts__paragraph {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.contacts__map {
  width: 100%;
  max-width: 378px;
  min-height: 205px;

  @include media(660px) {
    max-width: 100%;
    min-height: 355px;
  }
}

.write-me {
  width: 58%;
  padding: 20px;
  background-color: rgba(#000,0.45);
  box-shadow: 0 0 10px rgba(#fff, 0.33);
  border-radius: 20px;
  @include media(660px) {
    width: 100%;
  }
}

.write-me-form {
  margin-top: 31px;
}

.write-me-form__group {
  display: flex;
  flex-direction: column;
}

.write-me-form__label {
  font-size: 14px;
  line-height: 27px;
}

.write-me-form__input,
.write-me-form__textarea {
  margin-bottom: 9px;
  outline: none;
  padding: 13px;
  font-size: 14px;
  color: #fff;
  max-width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease;
  &:focus {
    transition: all 0.5s ease;
    box-shadow: 0 0 5.82px 0.18px rgba(51, 0, 51, 0.24);
    color:#000;
    background-color: #fff;
    outline: none;
    border-width: 1px;
  }
}

.write-me-form__textarea {
  min-height: 104px;
  margin-bottom: 19px;
}

.write-me-form__submit {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 14px;
  line-height: 45px;
  font-weight: 700;
  background-color: transparent;

  &:hover {
    background-color: #fff;
    color: #1a181c;
    cursor: pointer;
  }

  @include media(660px) {
    display: block;
    margin: 0 auto;
  }
}
