.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  top: 0;
  left: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  .nav-link {
    @include btn-common;
  }

  .nav-link--email {
    text-transform: none;
  }
}
