.impression {
  background-color: #f2eada;

  .impression__title {
    @include font-roboto();
    font-weight: 300;
  }

  .comment__text {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 22px 0 rgba(25, 25, 25, .09);
    padding: 20px;
    color: #777;
    @include font-roboto();
    font-weight: 300;

    &:after {
      content: '';
      position: absolute;
      border-color: #fff transparent transparent transparent;
      left: 49%;
      border-right-width: 12px;
      margin-left: calc(12px / -2);
      border-top-width: 17px;
      top: 100%;
      border-left-width: 12px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      bottom: -10px;
    }
  }

  .comment__avatar-block {
    border-radius: 50%;
    width: 94px;
    height: 94px;
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  .comment__avatar {
    width: 94px;
    height: 94px;
  }

  .comment__author {
    font-size: 17px;
    color:#3a3a3a;
    font-weight: bold;
  }

  .comment__type-user {
    color: #8e8e8e;
    @include font-open-condr();
    letter-spacing: 3px;
    font-size: 17px;
  }
}
