.intro {
  background: #eee url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  height: 95vh;
  position: relative;

  .jumbotron {
    text-align: center;
    color: #fff;
    height: 100%;

    background-color: rgba(#00211e, 0.49);
  }

  .intro-container {
    height: 80%;
  }

  .intro__title {
    @include font-yanone();
    font-weight: 400;
  }

  .users-items__item {
    @include font-roboto();
    font-size: 21px;
    color: #fff;
    font-weight: bold;
  }

  .users-items__item--enterprises span,
  .users-items__item--enterprises i {
    color: #02b3e4;
  }
  .users-items__item--networks span,
  .users-items__item--networks i {
    color: #ffe67c;
  }

  .users-items__item--pharmasicts span,
  .users-items__item--pharmasicts i {
    color: #fb928b;
  }

  .lead {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 400;
  }

  .intro-btn-start {
    align-self: center;
    @include yellow-btn();
  }

  .shape {
    transform: rotate(180deg);
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    line-height: 0;
    direction: ltr;

    .shape-container {
      height: 90px;
      width: 100%;
    }

    .shape-fill {
      opacity: 0.33;
      fill: #fff;
      transform-origin: center;
      transform: rotateY(0deg);
    }
    .shape-fill--not-op {
      opacity: 1;
    }
  }
}
