.start {
  height: auto;

  .jumbotron {
    height: auto;
    margin-bottom: 0;
  }

  .intro-btn-start--enterprises {
    background-color: #02b3e4;
  }
  .intro-btn-start--networks {
    background-color: #ffe67c;
  }

  .intro-btn-start--pharmasicts {
    background-color: #fb928b;
  }
}
