.we-help {
  padding: 80px 0;

  .we-help__svg-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }

  .we-help__items {
    display: flex;
    text-align: center;
    min-width: 25%;
  }

  .we-help__title {
    font-size: 18px;
    font-weight: 700;
    @include font-roboto();
  }
}

