section.about-us
    .container
        h2.about-us__title Про нас
        .row
            .col-md-6
                    p.about-us__text.m-0
                        i.fas.fa-grin-alt.about-us__icon.mr-2
                        | Ми група ентузіастів, які прагнули розвитку у фарм.сфері, релевантних знань та визнання.
                        i.fas.fa-grin-alt.about-us__icon.ml-2
                    hr
                    p.about-us__text.m-0
                        i.fas.fa-grin-beam-sweat.about-us__icon.mr-2
                        | Ми не погодились на роль «продавців»!
                        i.fas.fa-grin-beam-sweat.about-us__icon.ml-2
                    hr
                    p.about-us__text.m-0
                        i.fas.fa-grin-tongue-wink.about-us__icon.mr-2
                        | Наш девіз: «Продай знання, а не таблетку»
                        i.fas.fa-grin-tongue-wink.about-us__icon.ml-2
                    hr
                    p.about-us__text.m-0
                        i.far.fa-smile.about-us__icon.mr-2
                        | Будь іншим – будь сучасним!!!!
                        i.far.fa-smile.about-us__icon.ml-2
                    p.about-us__text.mt-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci dolorem dolorum eaque error, ipsa laboriosam nemo pariatur quae, quidem similique sunt totam, veritatis vitae. Cupiditate fugiat natus voluptates?
            .col-md-6
                img(src="assets/img/group-we.jpg")
