section.section.benefits
    .container
        h2.text-center.section__title Що я отримую? Якщо я є:
        p.section__info-text Вирішення всіх проблем :)
        .row.benefits__card
            .col-md-5.pl-0
                div.benefits__img-block
            .col-md-7.benefits__content
                h3 Компанія виробник
                ul
                    li
                        strong Ти в тренді?
                        p.
                            Безглуздо роблячи те ж саме що 20 років тому
                            сподіватись на кращий результат.
                    li
                        strong Цільова аудиторія
                        p Тим впевнений що твої ключові повідомлення доносяться до цільової аудиторії?
                    li
                        strong Витрати
                        p.
                            Витрати на Філд Форс чималі? Зарплатня,
                            авто, поїздки за кордон,
                            корпоративи... Чи можна виміряти
                            ефективність вкладених ресурсів?

                    li
                        strong Комплаєнс?
                        p.
                            Комплаєнс?
                            Заборонено все?
                            Ми пропонуємо прозору систему співпраці з мережами!
        .row.benefits__card
            .col-md-7.benefits__content
                h3 Аптечна мережа
                ul
                    li
                        strong Час
                        p.
                            Робочий час твоїх співробітників найцінніший
                            ресурс і найбільше капіталовкладення.
                            5 медичних представників заберуть 1.5 години.
                            Але платиш ти!
                    li
                        strong Контроль
                        p.
                            Процес взаємодії з представниками по суті не
                            керований. Набридло що в аптеках продають
                            семпли без чеків чи нав’язують клієнту
                            акційний фуфломіцин?
                            Пора встановити чіткі рамки!
                    li
                        strong Прибуток
                        p.
                            Зрештою, став в пріоритет і продавай те, що
                            вигідно тобі, а не маргіналу ззовні

                    li
                        strong Співпраця?
                        p.
                            Від прямого маркетингу все частіше
                            відмовляються виробники через ризики.
                            Це можливість перевести його у законне та
                            цивілізоване поле
            .col-md-5.pr-0
                div.benefits__img-block.benefits__img-block--network
        .row.benefits__card
            .col-md-5.pl-0
                div.benefits__img-block.benefits__img-block--pharmacies
            .col-md-7.benefits__content
                h3 Провізору/Фармацевту
                ul
                    li
                        strong Трансформуй знання в успішну карєру
                        p.
                            Щоб отримати роботу мрії потрібні релевантні
                            знання, а не диплом!
                    li
                        strong Тому що –«Знання це БОМБА»!!! ;)
                        p.
                            Нікому не потрібен твій диплом – потрібні
                            розуміння та знання що принесуть прибуток!
                    li
                        strong Вчись так як тобі зручно
                        p.
                            Досить сидіти в тісних
                            аудиторіях, групових заняттях та тренінгах «ні
                            про що»!

                    li
                        strong Навчайся безкоштовно
                        p.
                            Ти більше не потрібно платити величезні
                            кошти за утримання бюрократів в універі,
