footer.footer
    .container.d-flex.justify-content-between.align-items-center.py-4
        p.m-0 Pharcom © 2019. Всі права захищені
        p.m-0
            | Зроблено з любовю
            i.fas.fa-heart.mx-2.footer__icon-heart
            i.fas.fa-arrow-right.mr-2.footer__icon-right
            i.fas.fa-code.footer__icon-code


