header.header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.align-center
            a.navbar-brand(href="#") Pharcom
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
                ul.navbar-nav.mx-auto
                    li.nav-item
                        a.nav-link(href="#") Враження від нас
                    li.nav-item
                        a.nav-link(href="#") Переваги
                    li.nav-item
                        a.nav-link(href="#") Про нас
                    li.nav-item
                        a.nav-link(href="#") Контакти
                ul.list-unstyled.d-flex.m-0
                    li.nav-item
                        a.nav-link.nav-link--email(href="#") pharcom@gmail.com
                    li.nav-item
                        a.nav-link(href="#")
                            i.fab.fa-facebook-square
                    li.nav-item
                        a.nav-link(href="#")
                            i.fab.fa-instagram
                    li.nav-item
                        a.nav-link(href="#")
                            i.fab.fa-youtube
                    li.nav-item
                        a.nav-link(href="#")
                            i.fas.fa-envelope
