section.impression.section
    .container
        h2.section__title.impression__title У вас після співпраці будуть такі враження:(Результати нашої співпраці)
        p.small.section__info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperna repellendus,  otam ullam. A, accusantium aliquam aspernatur, aut expedita ipsa liber
        div.comments.row
            div.comment.col-4.d-flex.flex-column.align-items-center
                div.comment__text
                    p Навчання віддалено це так круто ят чяс ячс ясч с. Я навчався працювати набагато краще і швидше
                div.comment__avatar-block
                    img.comment__avatar(width="50px" src="assets/img/avatar.jpg")
                strong.comment__author Вася Пупкін
                small.comment__type-user Фармацевт
            div.comment.col-4.d-flex.flex-column.align-items-center
                div.comment__text
                    p Це так зручно монітори всі аптеки і мати статистику. Тепер я точно знаю де потрібно покращувати частини свого бізнесу
                div.comment__avatar-block
                    img.comment__avatar(width="50px" src="assets/img/avatar.jpg")
                strong.comment__author Вася Пупкін
                small.comment__type-user Власник аптечної мережі
            div.comment.col-4.d-flex.flex-column.align-items-center
                div.comment__text
                    p Наш відділ ститистики просто завхваті від даних. Тепер ми можемо краще розвити наш продук і покращувати знання фармацевтів
                div.comment__avatar-block
                    img.comment__avatar(src="assets/img/avatar.jpg")
                strong.comment__author Вася Пупкін
                small.comment__type-user Фармацевт
