section.intro
    .jumbotron.jumbotron-fluid
        .container.d-flex.flex-column.align-content-center.justify-content-center.fill-height
            h1.intro__title.display-4
                | Ми універсальний  web сервіс для взаємодії ключових гравців фармацевтичного ринку:

            ul.d-flex.users-items.justify-content-between
                li.users-items__item.users-items__item--enterprises
                    i.far.fa-building.mr-2
                    span Компаній виробників/Маркетингових компаній
                li.users-items__item.users-items__item--networks
                    i.fas.fa-network-wired.mr-2
                    span Аптечних мереж
                li.users-items__item.users-items__item--pharmasicts
                    i.fas.fa-user-md.mr-2
                    span Провізорів/Фармацевті
            p.lead
                | Архітектура та функціонал порталу спеціально розроблені для повного задоволення специфічних потреб кожного із учасників.
            button.intro-btn-start Розпочати просто зараз!
            div.shape
                svg.shape-container(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 283.5 19.6" preserveaspectratio="none")
                    path.shape-fill(style="opacity:0.33" d="M0 0L0 18.8 141.8 4.1 283.5 18.8 283.5 0z")
                    path.shape-fill(style="opacity:0.33" d="M0 0L0 12.6 141.8 4 283.5 12.6 283.5 0z")
                    path.shape-fill(style="opacity:0.33" d="M0 0L0 6.4 141.8 4 283.5 6.4 283.5 0z")
                    path.shape-fill.shape-fill--not-op(d="M0 0L0 1.2 141.8 4 283.5 1.2 283.5 0z")
