section.intro.start
    .jumbotron.jumbotron-fluid
        .container
            h1.intro__title.display-4
                | Не зволікай!!
                br
                | Почни просто зараз
            p
            p.lead
                |  Зареєструйся в кабінеті. Виберіть до якої категорії ви відноситесь
            div.d-flex.justify-content-between
                button.intro-btn-start.intro-btn-start--enterprises Виробник
                button.intro-btn-start.intro-btn-start--networks Аптечних мереж
                button.intro-btn-start.intro-btn-start--pharmasicts Фармацевт
