section.we-help.section
    .container
        h2.text-center.section__title Ми допоможемо вам
        p.small.section__info-text В умовах постійного дефіциту часу, життєво необхідно бути у тренді сучасних технологій та рішень
        .row.we-help__items
            .we-help__item.col-md-3
                svg.we-help__svg-icon
                    use(xlink:href="assets/img/symbol/sprite.svg#images--stopwatch")
                h3.we-help__title Зберегти час
                p.we-help__paragraph Потрібен текст. Час дуже ціний в нас час бо час це гроші
            .we-help__item.col-md-3
                svg.we-help__svg-icon
                    use(xlink:href="assets/img/symbol/sprite.svg#images--economic")
                h3.we-help__title Економія
                p.we-help__paragraph Заощадити бюджет/Залучити додаткове фінансування
            .we-help__item.col-md-3
                svg.we-help__svg-icon
                    use(xlink:href="assets/img/symbol/sprite.svg#images--innovation")
                h3.we-help__title Іновації
                p.we-help__paragraph Освоїти нові методи та принципи навчання, притаманні та звичні поколінням Z та Z, новим, самостійним та енергійним молодим людям нової генерації
            .we-help__item.col-md-3
                svg.we-help__svg-icon
                    use(xlink:href="assets/img/symbol/sprite.svg#images--rating")
                h3.we-help__title Ріст
                p.we-help__paragraph Залишити конкурентів позаду, здійснивши впевнений ривок вперед, використовуючи передові IT-рішення, що відповідають потребам часу

